{% include "include/header.html" %}

<link rel="stylesheet" href="/assets/css/searchStyle.css"/>
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <div class="introduce">
        <div class="Intro_explain_1">
            <h4>Spot Catcher로<br>
                약속 장소를 정해 보세요
            </h4> 
            <p>원하는 장소, 원하는 거리 비율로<br>
                장소를 추천해드립니다</p>
            <button id="goBtn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" >
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
              </svg></button>
        </div>
    </div>
    <div class="middleIs">
        <p> 중 간 지 점 찾 기</p>
    </div>
    <hr><br>
    <form id="locationForm" action="/result" method="post">
        <div id="map"></div>
        <div id="locations">
            <p id="guide"> ※ 입력칸을 누르면 주소 검색창이 나옵니다. 현재 위치가 기본 값으로 나옵니다. 또한 사용자명을 변경할 수 있습니다.</p>
            <div class="inputKeyWord">
                <p>키워드 입력</p>
                <input type="text" name="keyword"  placeholder = "키워드를 입력해 주세요.   예시) 카페, 도서관, 식당 등">
            </div>
            <div class="location">
                <p class="locText" style="cursor: pointer;">위치 1</p>
                <input type="text" name="locations">
                <button type="button" class="removeLocationBtn">삭제</button>
            </div>
            <div class="location">
                <p class="locText" style="cursor: pointer;">위치 2</p>
                <input type="text" name="locations">
                <button type="button" class="removeLocationBtn">삭제</button>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <button type="button" id="addLocationBtn">위치 추가</button>
                </td>
                <td>
                    <button type="submit" id="submitBtn">제출</button>
                </td>
                
            </tr>
        </table>
    </form>

    {% include "include/footer.html" %}

<script src="/assets/js/searchScript.js"></script>
</html>