body .introduce {
    position: relative;
    background-image: url('../img/SpotCatcher_mainPage.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh; 
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    min-width: 1050px;
}

.introduce::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100vw;
    height: 70vh; 
    opacity: 18%;
    background-color: #50b498;
    z-index: -1;
}

body .Intro_explain_1{
    text-align: center;
    width: 25% ;
    height: 40% ;
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: none;
    flex-direction: column;
    margin : 30px;
    min-height: 270px;
    min-width: 290px;
    color: #fff;

} 

body .Intro_explain_1 h4{
    text-align: left;
    padding: 0px;
    font-size: 25px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}


body .Intro_explain_1 p{
    font-size: 20px;
    text-align: left;
    padding: 0px;
    font-size: 20px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.mid-point{
    font-family: "Black Han Sans", system-ui;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    font-size: 40px;
    align-items: center;
}

.middleIs{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
}

#map {
    width:98.5vw; 
    height:80vh;
    filter: blur(15px); /* 흐림 정도 조절 */
    z-index: -1; 
    position: absolute;
}

#locationForm{
    border: none;
    width: 98.5vw;
    height: 550px;
    display: flex;
    flex-direction: column;
    /* min-width: 1205px; */
    align-items: center;
    justify-content: center;
    position: relative;

}

#locations{
    flex-direction: column; 
    box-shadow: 0.5px 0.5px 2px 2px #bdbdbd; 
    border-radius: 30px; 
    width:1250px; 
    height:600px;
    overflow:auto;
    margin : 10px;
    align-items: center;
    justify-content: center;
    display: grid;
    background-color: white;
    opacity: 90%;
}

#locations #guide{
    color: gray;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.location input[type = "text"]{
    width : 1000px;
    height: 40px;
     margin-bottom:10px; 
     border : solid 3px #50b498;
}

.inputKeyWord input[type = "text"]{
    width : 1150px;
    height: 40px;
    margin-bottom:10px; 
    border : solid 3px #50b498;
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

table button{
    margin: 5px;
}


#addLocationBtn{
    width: 300px;
    height: 50px;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

#submitBtn{
    width: 300px;
    height: 50px;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.removeLocationBtn{
    width: 100px;
    height : 40px;
    border-radius: 15px;
    border: none;
    background-color: #85d4bd;
    color: white;
    cursor: pointer;
}

#submitBtn {
    background-color: white; /* 기본 배경색 */
    transition: background-color 0.3s ease; /* 부드러운 전환 */
    cursor: pointer;
}

#submitBtn:active {
    background-color: #50b498; /* 눌렀을 때 배경색 */
    color: #fff;
}

#addLocationBtn {
    background-color: white; /* 기본 배경색 */
    transition: background-color 0.1s ease; /* 부드러운 전환 */
    cursor: pointer;
}

#addLocationBtn:active {
    background-color: #50b498; /* 눌렀을 때 배경색 */
    color: #fff;
}

@media (max-height: 310px){
    div.Intro_explain_1 p{
        display: none;
    }
}

@media (max-width: 1250px){
    #locations{
        width: 800px;
    }

}


@media (min-width: 768px) {
    #map {
        /* width: 1000px; */
        margin: 0 auto;
    }
    
}


