body .header {
    font-size: 25px;
    text-align: left;
    font-family: "Black Han Sans", sans-serif;
    font-style: normal;
    width: auto;
    height: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mid-point{
    font-family: "Black Han Sans", system-ui;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    font-size: 40px;
    align-items: center;
}


#map {
    width: 98vw;
    height: 80vh;
}



input[type="text"] {
    width: 100px;
    height: 30px;
    padding: 5px;
}

#addLocation{
    width: 250px;
    height: 30px;
}

#submit{
    width: 250px;
    height: 30px;
}

.removeLocationBtn{
    width: 60px;
    height : 40px;
}

#menu_wrap{
    border:3px #50b498 solid;
}

#map{
    border:3px #50b498 solid;
    border-radius: 10px;
}


.input-container{
    border: 3px solid#326355;
    border-top-left-radius: 10px;  /* 왼쪽 상단 모서리 둥글게 */
    border-top-right-radius: 10px;
    overflow: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.weightValues input[type="number"]{
    width: 300px;
    height: 30px;
    border: #50b498 3px solid;
    align-items: center;
    text-align: center;
    margin: 3px;
}



@media (min-width: 768px) {
    #map {
        /* width: 100vw; */
        margin: 0 auto;
    }
    
}
