body .introduce {
    position: relative;
    background-image: url('../img/SpotCatcher_mainPage.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 84vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduce::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100vw;
    height: 84vh; 
    opacity: 18%;
    background-color: #50b498;
    z-index: 1;
}

body .Intro_explain_1{
    text-align: center;
    width: 25% ;
    height: 50% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    flex-direction: column;
} 

body .Intro_explain_1 h4{
    text-align: left;
    padding: 0px;
    width: 280px;
    
}


body .Intro_explain_1 p{
    font-size: 20px;
    text-align: left;
    padding: 0px;
    width: 280px;
    
}
body .Intro_explain_2{
    font-size: 25px;
    align-items: center;
    width: 30% ;
    height: 40% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.Intro_explain_2 h4{
    text-align: center;
    padding: none;
}

.mid-point{
    font-family: "Black Han Sans", system-ui;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    font-size: 40px;
    align-items: center;
}


#map {
    width: 100%;
    height: 750px;
}

#locationForm{
    border: 3px solid #50b498;
    width: auto;
    height: 550px;
    align-items: center;
    justify-content: center;
    display: grid;
    margin: 10px;
}

#locations{
    flex-direction: column; 
    box-shadow: 5px 5px 15px #50b498; 
    border-radius: 30px; 
    width:1150px; 
    height:300px;
    overflow:auto;
    margin : 10px;
    max-height:300px;
    align-items: center;
    justify-content: center;
    display: grid;
}

#locations #guide{
    color: gray;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.location input[type = "text"]{
    width : 1000px;
    height: 40px;
    margin-bottom:10px; 
    border : solid 3px #50b498;
}

.inputKeyWord input[type = "text"]{
    width : 1150px;
    height: 40px;
    margin-bottom:10px; 
    border : solid 3px #50b498;
}

#goDown {
    width : 50px;
    height : 50px;
    background-image: url('../img/arrow_down.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#addLocationBtn{
    width: 300px;
    height: 50px;
    border: #50b498 2px solid;
    border-radius: 10px;
    background-color: #50b498;
    color: #fff;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

#submitBtn{
    width: 300px;
    height: 50px;
    border: #50b498 2px solid;
    border-radius: 10px;
    background-color: #50b498;
    color: #fff;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.removeLocationBtn{
    width: 60px;
    height : 40px;
}

@media (max-width: 1050px){
    div.Intro_explain_1 {
        display: none;
    }
    div.Intro_explain_2{
        width: 450px;
        height: 300px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

@media (max-height: 310px){
    div.Intro_explain_1 p{
        display: none;
    }
}




@media (min-width: 768px) {
    #map {
        width: 1000px;
        margin: 0 auto;
    }
    
}


